<div class="form-outline my-4 p-5 rounded border border-success col-6">
	<%= form_with model: @user, local: true do |form| %>

	<div >
	<label><%= form.label :Name%></label><br>
	<div class="row">
		<div class="col-6 mr-3 ">
			<%=form.text_field :first_name %>
		</div>
		<div class="col-6 ">
			<%=form.text_field :last_name%>
		</div>
	</div>
	</div>
	<div>
		<label><%=form.label :PhoneNumber%></label><br>

		<div>
			<%=form.text_field :phone_number%>
		</div>
	</div>
	<div>
		<label><%=form.label :CNIC%></label><br>

		<div>
			<%=form.text_field :cnic%>
		</div>
	</div>
	<div>
		<label><%=form.label :DOB%></label><br>

		<div>
			<%=form.date_field :dob%>
		</div>
	</div>
	<div>
		<label><%=form.label :Address%></label><br>
		<div>
			<%=form.text_field :address%>
		</div>
	</div>
	<!-- <div>
		<label>Select One</label>
		<div>
			<%= form.radio_button :male, "Male" %>
			<%= form.label :Male, "Male" %>
		</div>
		<div>
			<%= form.radio_button :female, "Male" %>
			<%= form.label :Female, "Female" %>
		</div>
	</div> -->
	<div>
		<div class="my-2">


			<%= form.submit %>
			</div>


	</div>
	<% end %>
</div>