<div class="testbox">
      
      	 <%= form_with model: user, local: true do |form| %>
        <div class="banner">
          <h1>New Member Registration</h1>
        </div>
        <div class="colums">
          <div class="item">
            <label for="fname"> First Name<span>*</span></label>
            <%= form.text_field :first_name%>
          </div>
          <div class="item">
            <label for="lname"> Last Name<span>*</span></label>
           <%= form.text_field :last_name%>
          </div>
          <div class="item">
            <label for="eamil">Emial<span>*</span></label>
            <%= form.email_field :email%>
          </div>
           <div class="item">
            <label for="phone">Phone<span>*</span></label>
            <%= form.text_field :phone_number%>
          </div>
          <div class="item">
            <label for="zip">Cnic<span>*</span></label>
            <%= form.text_field :cnic%>
          </div>
           <div class="item">
            <label for="dob">Date of Birth<span>*</span></label>
            <%= form.date_field :dob%>
          </div>
          <div class="item">
            <label for="address1">Address<span>*</span></label>
            <%= form.text_field :address%>
          </div>
          <div class="item">
            <label for="state">State<span>*</span></label>
             <%= form.text_field :state%>
          </div>
          
          <div class="item">
            <label for="zip">Zip/Postal Code<span>*</span></label>
             <%= form.text_field :zipcode%>
          </div>
          <div class="item">
            <label for="city">City<span>*</span></label>
            <%= form.text_field :city%>
          </div>
        </div>
        </div>

        <div class="btn btn-sm  float-left">
          <%= form.submit "Submit",:class=> "btn btn-primary m-1" %>
          <%= link_to 'Exit',destroy_user_session_path,method: :delete,class:'btn btn-primary'%>
          <% end %>
        </div>
      
      
    </div>