<div class="container">
 
<div>
  <strong>Firstname:</strong>
  <%= @user.first_name %>
</div>

<div>
  <strong>Lastname:</strong>
  <%= @user.last_name %>
</div>

<div>
  <strong>Phonenumber:</strong>
  <%= @user.phone_number %>
</div>


<div>
  <strong>Date of Birth:</strong>
  <%= @user.dob %>
</div>

<div>
  <strong>Email:</strong>
  <%= @user.email %>
</div>


<div>
  <strong>CNIC:</strong>
  <%= @user.cnic %>
</div>


<div>
  <strong>Adress:</strong>
  <%= @user.address %>
</div>

<div>
  <strong>State:</strong>
  <%= @user.state %>
</div>

<div>
  <strong>Zipcode:</strong>
  <%= @user.zipcode %>
</div>
<div>
  <strong>City:</strong>
  <%= @user.city %>
</div>

</div>
