<!DOCTYPE html>
<html>
  <head>
    <title>MyDemoProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <p class = " position-absolute notice" ><%= notice %> </p>
    <p class = " position-absolute alert " ><%= alert %></p>
    <div>
      
    </div>
    <%= yield %>
  </body>
</html>
